<h2>Proveedor</h2>

<shared-busqueda-avanzada [busquedaForm]="busquedaForm" [placeholder]="'buscar por nombre de proveedor'" (obtenerBusqueda)="realizarBusqueda($event, configPaginacion.page)"></shared-busqueda-avanzada>
<shared-tabla-personalizada [titulosArray]="titulos" [listaDatos]="listado"  [configPaginacion]="configPaginacion" [nombreAbm]="'Proveedor'" (bajarItem)="borrar($event)" (obtenerDatos)="guardar($event)" (cambioDePagina)="realizarBusqueda({}, $event)"></shared-tabla-personalizada>
