.container {
  margin-top: 16%;
}
.form-signin {
  width: 340px;
  padding: 10px;
}
.miclase {
  position: absolute;
  transform: translate(-50%, 220% );
  -o-transform: translate(-50%, 220% );
  -moz-transform: translate(-50%, 220% );
  -ms-transform: translate(-50%, 220% );
  -webkit-transform: translate(-50%, 220% );
}

.miclase_dos {
  position: absolute;
  transform: translate(110%, 150% );
  -o-transform: translate(110%, 150% );
  -moz-transform: translate(110%, 150% );
  -ms-transform: translate(110%, 150% );
  -webkit-transform: translate(110%, 150% );
}
