<div class="bg-light shadow-sm p-3 mt-3">
  <!-- <div class="d-flex justify-content-between mb-2">
    <div class="d-flex align-items-center p-2 font-weight-bold">
      <span *ngIf="configPaginacion.totalRegistros > 0">{{nombreAbm}}: {{configPaginacion.cantRegistros}} - {{configPaginacion.totalRegistros}} de {{configPaginacion.colleccionSize}}</span>
      <span *ngIf="configPaginacion.totalRegistros == 0">{{nombreAbm}}: {{configPaginacion.cantRegistros}}</span>
    </div>
    <div class="d-flex align-items-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 pr-0" >
        <div class="input-group">
          <span class="input-group-text"> Registros por página</span>
          <select id="inputState" class="form-control" [(ngModel)]="pageSize" (change)="cambiarCantRegistros($event)">
            <option value="5" selected>5</option>
            <option value="10" selected>10</option>
            <option value="25" selected>25</option>
            <option value="50" selected>50</option>
          </select>
        </div>
      </div>
    </div>
  </div> -->

  <table class="table table-light table-sm table-hover">
    <thead>
      <tr>
        <th class="text-center" scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th class="text-center" scope="col">Marca</th>
        <th class="text-center" scope="col">Unidad (Valor/Medida)</th>
        <th class="text-center" scope="col">Categoría</th>
        <th class="text-end w-25">
          Acción
          <!-- <shared-crear-editar-modal [tipo]="'agregar'" [titulo]="nombreAbm" [armarForm]="titulosArray" (obtenerDatos)="agregar($event)" ></shared-crear-editar-modal> -->
        </th>
      </tr>
    </thead>
    <tbody *ngIf="(listado.length == 0)" >
      <tr scope="col">
        <td class="text-center table-warning" scope="col" rowspan="1" colspan="6" ><strong>NO SE HAN ENCONTRADO RESULTADOS</strong></td>
      </tr>
    </tbody>
    <tbody>
      <tr *ngFor="let item of listado" [ngClass]="{'table-danger': (item.activo === 0) }">
        <td class="text-center" scope="col">{{item.codigo}}</td>
        <td scope="col">{{item.nombre}}</td>
        <td class="text-center" scope="col">{{item.marca}}</td>
        <td class="text-center" scope="col">{{item.unidad_valor}}&nbsp;{{item.unidad_medida}}</td>
        <td class="text-center" scope="col">{{item.categoria}}</td>
        <td class="text-end">1</td>
      </tr>
      <!-- <tr *ngFor="let fila of listaDatos">
        <td *ngFor="let col of titulosTabla">{{fila[col]}}</td>
        <td class="text-end w-25">
          <shared-crear-editar-modal [tipo]="'editar'" [titulo]="tituloEditar" [armarForm]="titulosArray" [importarDatos]="fila" (obtenerDatos)="editar($event)"></shared-crear-editar-modal>
          <shared-baja-modal [nombreTabla]="nombreAbm" [importarId]="fila['id']" (obtenerConfirmacion)="borrar($event)"></shared-baja-modal>
        </td>
      </tr> -->
      </tbody>
  </table>

  <!-- <div class="d-flex justify-content-center">
    <ngb-pagination [collectionSize]="configPaginacion.colleccionSize" [(page)]="pagina" [pageSize]="configPaginacion.pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" [ellipses]="false" (pageChange)="cambiarPagina(pagina)"></ngb-pagination>
  </div> -->
</div>

