<div class="modal-header">
  <h4 class="modal-title">Selección de Permisos del Usuario</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close('closed')">
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <fieldset class="padding-custom" [formGroup]="formRolPermisos" >
      <div class="form-group col-md-12">
        <label for="modulo" class="prioridad">Modulo:</label>
        <select class="form-select" id="modulo" formControlName="modulo" (change)="obtenerTipomodulo($event.target)" >
          <option value="">Seleccione un Módulo</option>
          <option *ngFor="let modulo of listadosArray.modulos" value="{{modulo.id}}">{{modulo.nombre}}</option>
        </select>
        <div *ngIf="(formRolPermisos.get('modulo')?.invalid && submitted)"
        class="text-danger">
          <div *ngIf="formRolPermisos.get('modulo')?.hasError('required')">Este campo es requerido. </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div [ngSwitch]="tipoModulo" class="row">
    <componente-permisos-gcb *ngSwitchCase="'GCB'" [submitted]="submitted" [idUsuario]="idUsuario" (cancelarForm)="cancelar($event)" (obtenerPermisos)="validarDatos($event)" ></componente-permisos-gcb>
    <componente-permisos-inventario *ngSwitchCase="'INV'" [idUsuario]="idUsuario" (cancelarForm)="cancelar($event)" (obtenerPermisos)="validarDatos($event)"></componente-permisos-inventario>
    <componente-permisos-prestaciones-sociales *ngSwitchCase="'GPS'" [idUsuario]="idUsuario" (cancelarForm)="cancelar($event)" (obtenerPermisos)="validarDatos($event)"></componente-permisos-prestaciones-sociales>
    <div *ngSwitchDefault class="mt-3 d-flex justify-content-center">
      <div class="card text-center bg-info">
        <div class="card-body">
          Por Favor, seleccione un modulo
        </div>
      </div>
    </div>
  </div>
</div>
