<fieldset [formGroup]="usuario">
  <div class="row">
    <div *ngIf="(mostrarCampos)" class="form-group col-md-12">
      <label for="modulo" class="prioridad">Modulo:</label>
      <select class="form-select" id="modulo" formControlName="moduloid" [ngClass]="{'is-invalid': (usuario.get('moduloid')?.invalid && submitted)}">
        <option value="">Seleccione un Módulo</option>
        <option *ngFor="let modulo of listasArray.modulos; index as i;" value="{{modulo.id}}">{{modulo.nombre}}</option>
      </select>
      <div *ngIf="(usuario.get('moduloid')?.invalid && submitted)"
      class="text-danger">
        <div *ngIf="usuario.get('moduloid')?.hasError('required')">Este campo es requerido. </div>
      </div>
    </div>
    <div *ngIf="(mostrarCampos)" class="form-group col-md-12">
      <label for="rol" class="prioridad">Rol:</label>
      <select class="form-select" id="rol" formControlName="rol">
        <option value="">Seleccione un Rol</option>
        <option value="soporte">Soporte</option>
        <option value="usuario">Usuario</option>
      </select>
      <div *ngIf="(usuario.get('rol')?.invalid && submitted)"
      class="text-danger">
        <div *ngIf="usuario.get('rol')?.hasError('required')">Este campo es requerido. </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="nombre_usuario" class="prioridad">Usuario (<span class="is-invalid">*</span>):</label>
      <input type="text" id="nombre_usuario" placeholder="Nombre de usuario" class="form-control" formControlName="username" [ngClass]="{'is-invalid': (usuario.get('username')?.invalid && submitted)}">
      <div *ngIf="(usuario.get('username').invalid && submitted)"
          class="text-danger">
          <div *ngIf="usuario.get('username')?.hasError('required')">Este campo es requerido. </div>
          <div *ngIf="usuario.get('username')?.hasError('minlength')">El nombre es muy corto.</div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="email" class="prioridad">Localidad (<span class="is-invalid">*</span>):</label>
      <select class="form-select" id="localidad" formControlName="localidadid" [ngClass]="{'is-invalid': (usuario.get('localidadid')?.invalid && submitted)}">
        <option value="">Seleccione Localidad</option>
        <option *ngFor="let localidad of listasArray.localidades" value="{{localidad.id}}">{{localidad.nombre}}</option>
      </select>
      <div *ngIf="(usuario.get('localidadid')?.invalid && submitted)" class="text-danger">
          <div *ngIf="usuario.get('localidadid')?.hasError('required')">Por favor Seleccione localidad. </div>
      </div>
    </div>
    <div class="form-group col-md-12">
      <label for="email" class="prioridad">Email:</label>
      <input type="email" id="email" placeholder="Ej.: nombre@mail.com.ar" class="form-control" formControlName="email" (keyup)="aMinuscula($event.target)" [ngClass]="{'is-invalid': (usuario.get('email')?.invalid && submitted)}">
      <div *ngIf="(usuario.get('email')?.invalid && submitted)" class="text-danger">
        <div *ngIf="usuario.get('email')?.hasError('pattern')">El email es invalido.</div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="password" class="prioridad">Contraseña (<span class="is-invalid">*</span>):</label>
      <input type="password" id="password" placeholder="********" class="form-control" formControlName="password" [ngClass]="{'is-invalid': (usuario.get('password')?.invalid && submitted)}">
      <div *ngIf="(usuario.get('password')?.invalid && submitted)"
          class="text-danger">
          <div *ngIf="usuario.get('password')?.hasError('required')">Este campo es requerido. </div>
          <div *ngIf="usuario.get('password')?.hasError('minlength')">La contraseña es demasiado corta, al menos debe de tener 8 caracteres.</div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="confirmPass" class="prioridad">Confirmar Contraseña (<span class="is-invalid">*</span>):</label>
      <input type="password" id="confirmPass" placeholder="********" class="form-control" formControlName="confirmPass" [ngClass]="{'is-invalid': (usuario.get('password')?.value != usuario.get('confirmPass')?.value && usuario.get('confirmPass')?.value != null)}">
      <div *ngIf="(usuario.get('password')?.value != usuario.get('confirmPass')?.value && usuario.get('confirmPass')?.value != null)" class="text-danger">
        <div>Las contraseñas no coinciden.</div>
      </div>
    </div>
  </div>
</fieldset>

