<div class="bg-light shadow-sm p-3 mt-3">
  <table class="table table-light table-sm table-hover">
    <thead>
      <tr>
        <th scope="col" colspan="2">Apellido y Nombre</th>
        <th class="text-center" scope="col">Usuario</th>
        <th class="text-center" scope="col">Fecha Ingreso</th>
        <th scope="col">Modulo/s</th>
        <th class="text-end w-25">
          <componente-modal-agregar-usuario [listasArray]="listadosArray" ></componente-modal-agregar-usuario>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="(listadosArray.usuarios.length == 0)" >
      <tr scope="col">
        <td class="text-center table-warning" scope="col" rowspan="1" colspan="6" ><strong>NO SE HAN ENCONTRADO RESULTADOS</strong></td>
      </tr>
    </tbody>
    <tbody *ngIf="(listadosArray.usuarios.length > 0)">
      <tr *ngFor="let user of listadosArray.usuarios">
        <td class="text-left" scope="col" colspan="2">{{user.apellido}}, {{user.nombre}}</td>
        <td scope="col">{{user.username}}</td>
        <td class="text-center" scope="col">{{user.created_at}}</td>
        <td>
          <!-- <span *ngFor="let mod of user.modulo" ngbTooltip="Gestor Bancario" class="badge rounded-pill bg-info">{{user.modulo}}</span> -->
        </td>
        <td class="text-end">
          <componente-configurar-usuario-modal [usuarioid]="user.id" [listasConfig]="listadosArray" (actualizarListado)="actualizar($event)" ></componente-configurar-usuario-modal>
          <componente-seleccionar-modulo-modal></componente-seleccionar-modulo-modal>
        </td>
      </tr>
      </tbody>
  </table>
</div>
