<div class="bg-light shadow-sm p-3 mt-3">
  <table class="table table-light table-sm table-hover">
    <thead>
      <tr>
        <th scope="col" colspan="2">Apellido y Nombre</th>
        <th class="text-center" scope="col">Usuario</th>
        <th class="text-center" scope="col">Fecha Ingreso</th>
        <th scope="col">Modulo/s</th>
        <th class="text-end w-25">
          <!-- <button class="btn btn-outline-success"><i class="fa-solid fa-user-plus"></i> Agregar</button> -->
          <componente-modal-agregar-usuario></componente-modal-agregar-usuario>
          <!-- <componente-modal-form-producto [tipo]="'agregar'" [titulo]="'Agregar Producto'" [listas]="listadosArray" (confirmarGuardado)="actualizarListado($event)" ></componente-modal-form-producto> -->
        </th>
      </tr>
    </thead>
    <tbody *ngIf="(listadosArray.usuarios.length == 0)" >
      <tr scope="col">
        <td class="text-center table-warning" scope="col" rowspan="1" colspan="6" ><strong>NO SE HAN ENCONTRADO RESULTADOS</strong></td>
      </tr>
    </tbody>
    <tbody *ngIf="(listadosArray.usuarios.length > 0)">
      <tr *ngFor="let user of listadosArray.usuarios">
        <td class="text-left" scope="col" colspan="2">{{user.apellido}}, {{user.nombre}}</td>
        <td scope="col">{{user.username}}</td>
        <td class="text-center" scope="col">{{user.created_at}}</td>
        <td></td>
        <!-- <td class="text-center" scope="col">{{user.unidad_valor}}&nbsp;{{user.unidad_medida}}</td> -->
        <!-- <td class="text-center" scope="col">{{user.categoria}}</td> -->
        <td class="text-end">
          <componente-seleccionar-modulo-modal ></componente-seleccionar-modulo-modal>
          <!-- <componente-modal-form-producto [tipo]="'editar'" [titulo]="'Editar Producto'" [listas]="listadosArray" [datosProducto]="user" (confirmarGuardado)="actualizarListado($event)"></componente-modal-form-producto>
          <componente-baja-poducto (obtenerConfirmacion)="bajaProducto($event, user.id)" ></componente-baja-poducto> -->
        </td>
      </tr>
      </tbody>
  </table>
</div>
