<div class="bg-light shadow-sm p-3 mt-3">
  <table class="table table-light table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">Apellido y Nombre</th>
        <th class="text-center" scope="col">Usuario</th>
        <th class="text-center" scope="col">Fecha Ingreso</th>
        <th scope="col">Modulo/s</th>
        <th class="text-end w-25">
          <!-- <button class="btn btn-outline-success"><i class="fa-solid fa-user-plus"></i> Agregar</button> -->
          <componente-modal-agregar-usuario></componente-modal-agregar-usuario>
          <!-- <componente-modal-form-producto [tipo]="'agregar'" [titulo]="'Agregar Producto'" [listas]="listadosArray" (confirmarGuardado)="actualizarListado($event)" ></componente-modal-form-producto> -->
        </th>
      </tr>
    </thead>
    <!-- <tbody *ngIf="(listadosArray.productos.length == 0)" >
      <tr scope="col">
        <td class="text-center table-warning" scope="col" rowspan="1" colspan="6" ><strong>NO SE HAN ENCONTRADO RESULTADOS</strong></td>
      </tr>
    </tbody> -->
    <!-- <tbody *ngIf="(listadosArray.productos.length > 0)"> -->
    <tbody>
      <!-- <tr *ngFor="let item of listadosArray.productos" [ngClass]="{'table-danger': (item.activo === 0) }"> -->
      <tr>
        <td scope="col">test, user</td>
        <td scope="col" class="text-center" >test</td>
        <td scope="col" class="text-center">10/02/2022</td>
        <td scope="col">GCB</td>
        <td scope="col" class="text-end">
          <button class="btn btn-outline-secondary" ><i class="fa-solid fa-user-gear"></i></button>
          <button class="btn btn-outline-danger" ><i class="fa-solid fa-user-minus"></i></button>
          <componente-seleccionar-modulo-modal [usuarioid]="1" ></componente-seleccionar-modulo-modal>
        </td>
        <!-- <td class="text-center" scope="col">{{item.codigo}}</td>
        <td scope="col">{{item.nombre}}</td>
        <td class="text-center" scope="col">{{item.marca}}</td>
        <td class="text-center" scope="col">{{item.unidad_valor}}&nbsp;{{item.unidad_medida}}</td>
        <td class="text-center" scope="col">{{item.categoria}}</td>
        <td class="text-end">
          <componente-modal-form-producto [tipo]="'editar'" [titulo]="'Editar Producto'" [listas]="listadosArray" [datosProducto]="item" (confirmarGuardado)="actualizarListado($event)"></componente-modal-form-producto>
          <componente-baja-poducto (obtenerConfirmacion)="bajaProducto($event, item.id)" ></componente-baja-poducto>
        </td> -->
      </tr>
      </tbody>
  </table>
</div>
