.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}
.sistema-bars {
  cursor: pointer;
}
.titulo-sistema {
  font-size: 25px !important;
}
.navbar {
  -webkit-box-shadow: 3px 2px 2px 3px rgba(0,0,0,0.13) !important;
  box-shadow: 3px 2px 2px 3px rgba(0,0,0,0.13) !important;
}
