nav.sidebar {
  margin-left: -10px !important;
}
.sidebar-content {
  height: 100vh;
  max-width: 230px;
  min-width: 230px;
}
.nombre-ds {
  margin-left: 10px;
  font-size: 11px;
  margin-bottom: -2px;
}
