<div class="d-flex flex-column flex-shrink-0 sidebar-content p-3 bg-dhyas" >
  <span class="d-flex align-items-center pb-2 text-dark text-decoration-none border-bottom">
    <img *ngIf="(tema !== 'dark')" src="../../../assets/img/logoRN.svg" width="50" height="30" alt="Desarrollo humano y articulación solidaria">
    <img *ngIf="(tema == 'dark')" src="../../../assets/img/logoRN-white.svg" width="50" height="30" alt="Desarrollo humano y articulación solidaria">
    <div class="nombre-ds">Ministerio de Desarrollo Humano y Articulación Solidaria</div>
  </span>
  <div class="mb-auto pt-1">
    <ul class="list-unstyled mb-0">
      <li class="solo-link" [routerLinkActive]="['active']" ><a [routerLink]="['/inicio']" class="link-dark rounded"><i class="fas fa-home" style="padding-top: 2px;"></i>&nbsp;&nbsp;Inicio</a></li>
      <li class="mb-1">
        <button class="btn btn-toggle-nav btn-sombra align-items-center w-100 rounded" style="text-align: left !important;" (click)="invCollapse.toggle()" [attr.aria-expanded]="!isCollapsedInv">
          <i *ngIf="isCollapsedInv" class="fas fa-chevron-right"></i>
          <i *ngIf="!isCollapsedInv" class="fas fa-chevron-down"></i>
          &nbsp;&nbsp;
          Inventario
        </button>
        <div class="collapse" #invCollapse="ngbCollapse" [(ngbCollapse)]="isCollapsedInv" >
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li [routerLinkActive]="['active']" ><a [routerLink]="['/inventario/categoria']" class="link-dark rounded">Categoría</a></li>
            <li [routerLinkActive]="['active']" ><a [routerLink]="['/inventario/marca']" class="link-dark rounded">Marca</a></li>
            <li [routerLinkActive]="['active']" ><a [routerLink]="['/inventario/producto']" class="link-dark rounded">Producto</a></li>
            <li [routerLinkActive]="['active']" ><a [routerLink]="['/inventario/proveedor']" class="link-dark rounded">Proveedor</a></li>
            <li [routerLinkActive]="['active']" ><a [routerLink]="['/inventario/unidad-medida']" class="link-dark rounded">Unidad de Medida</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle-nav btn-sombra align-items-center w-100 rounded" style="text-align: left !important;" (click)="lugCollapse.toggle()" [attr.aria-expanded]="!isCollapsedLug">
          <i *ngIf="isCollapsedLug" class="fas fa-chevron-right"></i>
          <i *ngIf="!isCollapsedLug" class="fas fa-chevron-down"></i>
          &nbsp;&nbsp;
          Lugar
        </button>
        <div class="collapse" #lugCollapse="ngbCollapse" [(ngbCollapse)]="isCollapsedLug" >
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/lugar/localidad']" class="link-dark rounded">Localidad</a></li>
          </ul>
        </div>
      </li>
      <li class="solo-link" [routerLinkActive]="['active']" ><a [routerLink]="['/usuarios']" class="link-dark rounded"><i class="fas fa-user" style="padding-top: 2px;"></i>&nbsp;&nbsp;Usuarios</a></li>
    </ul>
  </div>
    <hr>
    <div class="user-tag">
      <button class="btn btn-toggle-nav btn-sombra align-items-center w-100 rounded" style="text-align: left !important;" (click)="cerrarSesion()">
        <i class="fas fa-sign-out-alt"></i>
        &nbsp;&nbsp;
        Cerrar Sesión
      </button>
  </div>
</div>
